@font-face {
  font-family: "Century Gothic";
  src: url("../font/gothicb.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic";
}

h1 {
  font-size: 2.3em;
  color: white;
}
h1 span {
  color: black;
}

section {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.intro-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  padding-bottom: 1.5em;
  width: 15%;
}

#one {
  background-image: url("../slide1/shadow.png");
}

#two {
  background-image: url("../slide2/degrader1.png");
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.intro-text {
  padding: 1em;
  opacity: 0;
  animation: fadeInUp 2s ease-in-out 0s forwards;
  animation-delay: 1.3s;
}

/* --- HAPPY NEW YEAR AND SNOWFLAKES --- */
.hny-wrap {
  position: relative;
  text-align: center;
  opacity: 0;
  animation: fadeInUp 2s ease-in-out 0s forwards;
  animation-delay: 2s;
}

.hny-img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
}

.Snowflak1 {
  position: absolute;
  top: 19%;
  left: 41%;
  height: 2.5em;
}

.Snowflak2 {
  position: absolute;
  top: 10%;
  left: 57%;
  height: 2.5em;
}

.Snowflak3 {
  position: absolute;
  top: 90%;
  left: 41%;
  height: 2.5em;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}
.blink2 {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}
.blink3 {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}
.machine {
  padding-top: 14%;
}

h2 {
  font-size: 2.4em;
  color: white;
}
#yellow {
  color: #f3c81a;
  font-size: 1.1em;
  font-weight: 100;
}

.machine-star1 {
  position: absolute;
  top: 26.5%;
  left: 41%;
}

.machine-star2 {
  position: absolute;
  top: 30%;
  left: 54%;
}

.machine-star3 {
  position: absolute;
  top: 49%;
  left: 43%;
}
